
  .pageContent {
    height:75vh;
    display: block;
    text-align: center;
    justify-items: left;
    align-items: center;
  }

  .contentContainer {
    height:60vh;
    width: 80vw;
    display: block;
    text-align: center;
    place-content: center;
    margin: auto auto auto 0px;
    
    transform: rotateY(-20deg);
    padding: 4rem;
}

